body {
    font-family: 'Raleway', Courier, monospace;

}

.new-iphone {
    width: 1299px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
.new-iphone h1 {
    font-size: 140px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    color: #262525;
    
    
}

.new-iphone p {
    font-size: 36px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
    
}

.new-iphone img {
    width: 1299px;
    height: 743px;
    margin-bottom: 66px;
    
}

.iphone {
    width: 967px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
.iphone h2 {
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #262525;
    font-weight: 700;
    margin-bottom: 43px;

}

.iphone p {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #262525;
    line-height: 157%;
    margin-bottom: 14px;

} 

.select {
    font-size: 20px;
    text-align: center;
    line-height: 157%;
    color: #262525;
    font-weight: 500;
    
}

.iphone img {
    width: 30px;
    height: 30px;
    
}


.iphone-body {
    width: 1261px;
    height: 625px;

    background-image: url("../resources/iPhone-body.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    text-align: center;
    margin-top: 104px;
    margin: 0 auto;
    box-sizing: border-box;
    
}
.iphone-body-text-wrapper {
    width: 941px;
    height: 387px;
    color: #fff;
    padding: 119px 160px;
}
.iphone-body-text-wrapper h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-transform: uppercase;
    margin-bottom: 60px;

}
.iphone-body-text-wrapper h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 157%;
    margin-bottom: 10px;
}

.iphone-body-text-wrapper p {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #7a7a7a;
}


.btn {
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid red;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    text-decoration: none;
    color: red;
    margin-top: 30px;
    cursor:pointer;
    
}

.btn:hover {
    color: #fff;
    background-color: red;
}
